<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Create Operation</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="background"></div>
  <div class="container">
    <h3>Update Operation</h3>
    <form action="http://localhost:3000/final-update" method="post">
        <!-- for id  -->
      <input type="hidden" value="<%= result.id %>" name="hidden_id"/>  
      <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required value="<%= result.name%>"/>
      </div>
      <div class="mb-3">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" required  value="<%= result.email %>"/>
      </div>
      <!-- <button type="submit" class="btn btn-primary">Update</button>
      <button type="back" class="btn btn-primary">
        <a href="/data" style="margin-left: 10px;">Back</a>
      </button> -->
      <button type="submit" class="btn btn-primary">Update</button><br />
      <a href="/data" class="btn btn-primary" style="margin-top: 15px; display: inline-block; color: white; text-decoration: none; cursor: pointer;">Back</a>
      
      

    </form>
  </div>
</body>
</html>
